
{% load static %}
{% load chunks %}



    <!-- Featured Products -->

    <div class="small-container">
        <h2 class="title">Featured Products</h2>
        <div class="row">
            {% for featuredItem in featured_products%}
            <div class="col-4">
                <a href="{% url 'product_details' featuredItem.id %}"><img src=" {{featuredItem.image.url}}"></a>
                <h4>{{ featuredItem.title }}</h4> 
                <p>${{featuredItem.price}}</p>
            </div>

            {% endfor %}
        </div>
    </div>
        <!-- Latest Products -->

    <div class="small-container">
        <h2 class="title">Latest Products</h2>
        <div class="row">
            {% for latestItem in latest_products%}
            <div class="col-4">
                <a href="{% url 'product_details' latestItem.id %}"><img src=" {{latestItem.image.url}}"></a>
                <h4>{{ latestItem.title }}</h4> 
                <p>${{latestItem.price}}</p>
            </div>

            {% endfor %}
        </div>
    </div>