
{% load static %}


<!-- Single Products -->
<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img src="{{product.image.url}}" width="100%" id="ProductImg">

            
        </div>
        <div class="col-2">
            
            <h1>{{product.title}}</h1>
            <h4>${{product.price}}</h4>
            <form method="post" action="{% url 'add_to_cart' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <!--to get which product user selected-->
                <input type="hidden" value="{{product.id}}" name="product_id"></input>
                <select>
                    <option value="" disabled selected>Select Size</option>
                    <option value="size">XXL</option>
                    <option value="size">XL</option>
                    <option value="size">L</option>
                    <option value="size">M</option>
                    <option value="size">S</option>
                </select>
                <input type="number" name="quantity" value="1" min="1" required>

                <button type='submit' class="btn">Add To Cart</button>

            </form>

            <h3>Product Details <i class="fa fa-indent"></i></h3>
            <br>
            <p>{{product.description}}</p>
        </div>
    </div>
</div>